.navbar{
    background-color: #333;
    
}
.navbar-top.navbar-left {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:block;
    float:left;
    top:0;
    width: 82%;
}

a{
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:verdana;
    float:left;
}

li{
    float:left;
}

.navbar-top.navbar-right {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:block;
    float:right;
    top:0;
    width: 18%;
}

ul.navbar-left a:hover {
    background-color: #111;
}

ul.navbar-right a:hover {
    background-color: #111;
}

.navbar-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

