@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }

}
body{
    padding:10px;
    padding-bottom:60px;
}
body.home{
    padding:10px;
    padding-bottom:60px;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    background-color: #333;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

.image-home{
    width:70%; 
    height: auto;
    margin-left:15%;
    margin-right:15%;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);

}
h2{
    padding: 15px;
    text-align: center;
    color: white; 
    font-size: 30px;
    font-family:'Segoe UI';
    background-color: #1abc9c;
    margin-left:32% ;
    margin-right:32% ;
    position: relative;
}
h3{
    text-decoration: none;
    font-family: verdana;
    color: #1abc9c;
}
h4{
    color:rgb(97, 95, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left:3%;
    margin-top:3%;
    font-size: 25px;
    border-bottom: 2px solid #999898;
    line-height: 2;
    margin-right:3%;
    font-style: italic;
}
h1{
    padding: 15px;
    text-align: center;
    color:rgb(66, 66, 66) ;
    font-size: 30px;
    font-family:verdana;
    margin-left:10px ;
    margin-right:10px ;
}
.homescreen{
    background-image: url("images/background.jpg");
}
.container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10%;
}

.image {
    width:300; 
    height: 200;
}
.image-logo{
    width:90%; 
    height:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top:10px;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(95, 201, 183);
    overflow: hidden;
    width: 300px;
    height:0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:verdana;

}
.navbar{
    background-color: #333;
}

.navbar-top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:block;
    top:0;
    width: auto;

}
.navbar-top.navbar-left {
    float:left;
}

.navbar-top.navbar-right {
    float:right;
}

.navbar a{

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:verdana;
    float:left;
}
.navbar div{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:verdana;
    float:left;

}
.navbar a:hover{
    background-color:rgb(37, 37, 37) ;
}
.navbar div:hover{
    background-color:rgb(37, 37, 37) ;
}

.navbar li{
    float:left;
}

#searchA{

    max-height: 100%;
}
.search{
    float: left;
    display: block;
    max-height: 5px;
    width: 250px;
}
.search.input{
    float: left;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 1px;
}

.btnSearch{
    float:right;
    border: none;
    color: white;
    background-color: #333;
    font-family: Verdana;
    float:right;
}
.btnSearch:hover{

    background-color:rgb(37, 37, 37) ;

}

.navbar li a input[type=text] {
    max-height: 100%;
}


.navbar-bottom{
    list-style-type: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    height: 30;
}

.upload{
    background-color: #eee;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;

}
.upload-assets{
    font-family:verdana;
    margin-bottom: 30px;
    text-align: justify;
    border: 5px solid rgb(37, 37, 37);

}
.messages{
    display:block;
    color: white;
}

.errors{
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:8px;
    border: 5px solid red;

}

.success{
    background-color: rgb(7, 179, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:8px;
    border: 5px solid rgb(7, 179, 7);

}

.meio{
    position: relative;
    display: block;
}

.profile_sidebar{
    display: block;
    list-style-type: none;
}

.changepwd{
    display: inline;
}

.edit-menu {
    margin:auto;
    width: 40%;
    border: 3px solid #333;
    padding: 20px;
    height: auto;
    overflow:hidden;
    display:block;
}
.vertical-menu-right{
    float:right;
    width: 60%;
    margin-top:10%;
}
.update-assets{
    font-family: verdana;
    margin-bottom: 10%;
}
.vertical-menu{
    float:left;
    width: 30%;
    height: auto;
}
#edit-picture {
    display: none;
}
#edit-city {
    display: none;
}

#edit-birth {
    display: none;
}
a.active:hover {
    cursor: pointer;
}
#security {
    display: none;
}
#allinfo {
    display: block;
}
.info-img{
    border-radius: 50%;
    border: 1px solid #ddd;
    height:220;
    widows: auto;
}
.info-menu{
    float:right;
    font-family: verdana;
    size: 20px;
    text-align: center;
    font-weight: bold;

}
.btn-update{
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #17a78a;
    font-family: Verdana;
    float:right;
    margin-top:20%
}
.vertical-menu a {
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
    font-family:verdana;
    text-align: justify;
    width: auto;
    height: auto;
}

.vertical-menu a:hover {
    background-color: #ccc;
    width: auto;
}

.vertical-menu a.active {
    background-color: #333;
    color: white;
    width: auto;
    text-align: justify;

}
.vertical-menu a.delete{
    background-color: #333;
    color: white;
    width: auto;

}
.vertical-menu a.delete:hover {
    background-color: rgb(238, 96, 96);
    color: white;
}
input[type="text"] {
    padding: 12px 0.1px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="password"] {
    padding: 12px 0.5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type="date"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
select{
    padding: 12px 55px;
    border: 1px solid #ccc;
    font-family: verdana;
    font-size:80%;
}
input[type="file"] {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 0.5px;
    font-size: 16px;
    font-family: Verdana;
    margin-top:15px;
    padding: 6px 20px;
    text-align: right;
}

.update-pic {
    width: 20%;
    height:20%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.update-pic + label {
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: #333;
    display: inline-block;
    font-family: verdana;
    border-style: solid;
    border-width: 10px;
    border-color: #333;
    border-spacing:10px;
}

.update-pic:focus + label,
.update-pic + label:hover {
    background-color: rgb(37, 37, 37);
    border-width: 10px;
    border-color: rgb(37, 37, 37);
}

textarea{
    border: none;
    color: black;
    height: 10%;
    padding: 10px 10px #333;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    font-family: Verdana;
    width: 70%;
}
.category{
    margin-top:auto;
    margin-bottom: auto;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.register{
    margin: auto;
    width: 33%;
    height: auto;
    padding: 20px;
    overflow:auto;
    display:block;

    border: 3px solid #333;

}
.login{
    margin: auto;
    width: 33%;
    height: auto;
    border: 3px solid #333;
    padding: 20px;
}
.register-assets{
    font-family: verdana;
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
}
.upload{
    width: auto;
    margin-left:20%;
    margin-right:20%;
    height: auto;
    padding: 20px;
    overflow:auto;
    display:block;
}
.upload-assets{    
    font-family: verdana;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    width: auto;
}

.btn{
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #333;
    font-family: Verdana;
    margin-top: 20px;
    float:right;
}
.login-btn{
    padding: 15px 100px;
    background-color: #333;
    margin: auto;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    font-size: 16px;
    background-color: #333;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 35%;
    margin-left: 35%;

}.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family:verdana;
    background-color: #fdfdfd;
}

.description {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
}

.row {
    width: 45%;
    padding: 5px;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;

}
.image-product {
    background-color: #333;
}

.image.projects{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.left-column {
    float:left;
    height:50%;
    width:42%;
    margin-top:5%;
    margin-left:5%; 
    object-fit: contain;
    z-index: 2;

}

.right-column {
    height:auto;
    width:42%;
    overflow: hidden;
    margin-top:5%;
    margin-right:5%;
    margin-left:50%;
    background-color:#fdfdfd;
    border-width: 35px;
    border-style: solid;
    border-color: #fdfdfd;

}
.commentWrap{
    width: 90%;
    height: auto;
    overflow:hidden;
    margin-right:10%;
    margin-left:5%;
    font-family: verdana;
}
.left-column img {
    height:auto;
    width:auto;
    max-width: 95%;
    max-height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 5px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-description {
    border-bottom: 1px solid rgb(105, 105, 105);
    margin-bottom: 10px;
}
.product-description span {
    font-size: 13px;
    color: #1abc9c;
    font-family: verdana;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
    font-family: verdana;

}

.comments{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2%;
    font-family: verdana;
    font-size: 15px;
    text-align: justify;
}
.comments_user{
    font-family: verdana;
    color: #999898;
    font-size: 13px;

}
.form {
    height: auto;
    font-family: verdana;
}
#loginReminder{
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    background-color: rgb(24, 23, 23);  
}
.btn-comment-not-logged{
    font-family: verdana;
    float:left;
    margin-bottom: 2%;
}
.new_comment{
    margin-top: 10px;
    width: 100%;
}

.downloadBtn{
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    float:right;
}

.input-file{
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    border: 5px solid red;
    border-bottom: 10%;
    float:left;
}

.input-file:hover{

    background-color:rgb(37, 37, 37);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    border: 5px solid rgb(37, 37, 37);
}
